---
import Head from "../components/Head.astro";

const pageTitle = "Kalya Courts Hotel Menu";
---

<!doctype html>
<html lang="en">

  <body>
    <!-- site layout -->
    <section>
      <!-- nav bar -->
      <nav></nav>

      <!-- main -->
      <main></main>

      <!-- footer -->
      <footer></footer>
    </section>
    <!-- end layout -->
  </body>
</html>
